
<h1>Settings</h1>
<form action="/updateBackground" method="post" enctype="application/x-www-form-urlencoded" style="float:left">
<label for="backgroundColor">Background Color:</label>
<select name="backgroundColor" id="backgroundColor">
  <option value="white">White</option>
  <option value="blue">Blue</option>
  <option value="red">Red</option>
  <option value="green">Green</option>
    <input type="submit" value="Update Background Color" />
    </form>
</select>
